@model TravelLibrary.Models.ViewModels.AuthorViewModel
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("New", "Author", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(d => d.Name)
            @Html.TextBoxFor(d => d.Name, "", new { @class = "form-control" })
            @Html.LabelFor(d => d.Surname)
            @Html.TextBoxFor(d => d.Surname, "", new { @class = "form-control" })
            <div style="text-align:right">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}



