@model TravelLibrary.Models.ViewModels.BookViewModel
@{
    ViewBag.Title = "Editar";
    List<SelectListItem> itemsAuthor = (List<SelectListItem>)ViewBag.ItemsAuthor;
    List<SelectListItem> itemsEditorial = (List<SelectListItem>)ViewBag.ItemsEditorial;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">

            @Html.LabelFor(d => d.ISBN)
            @Html.TextBoxFor(d => d.ISBN, "", new { @class = "form-control" })

            @Html.LabelFor(d => d.IdAuthor)
            @Html.DropDownList("AuthorList", itemsAuthor, "Seleccione", new { @class = "form-control" })

            @Html.LabelFor(d => d.IdEditorial)
            @Html.DropDownList("EditorialList", itemsEditorial, "Seleccione", new { @class = "form-control" })

            @Html.LabelFor(d => d.Title)
            @Html.TextBoxFor(d => d.Title, "", new { @class = "form-control" })
            @Html.LabelFor(d => d.Synopsis)
            @Html.TextBoxFor(d => d.Synopsis, "", new { @class = "form-control" })
            @Html.LabelFor(d => d.Pages)
            @Html.TextBoxFor(d => d.Pages, "", new { @class = "form-control" })
            <div style="text-align:right">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}
